<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@@title</title>
    <meta name="keywords" content="PPSMB PALAPA UGM OSPEK 2018"
    />
    <meta name="description" content="PPSMB Palapa">
    <meta name="author" content="Tim IT PPSMB PALAPA 2018">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/css/uikit.min.css"
    />
    <!-- style css -->
    <link rel="stylesheet" href="/public/css/mt-style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>