<!--========== FOOTER ==========-->
<footer class="g-bg-color--dark">
        <!-- Links -->
        <div class="g-hor-divider__dashed--white-opacity-lightest">
            <div class="container g-padding-y-80--xs">
                <div class="row">
                    <div class="col-sm-4 g-margin-b-20--xs g-margin-b-0--md">
                        <div class="g-font-size-15--xs g-color--white-opacity">
                        Panitia Pusat PPSMB UGM 2018<br>
                        Subdirektorat Pengembangan Karakter Mahasiswa<br>
                        Direktorat Kemahasiswaan Universitas Gadjah Mada<br>
                        <div class="ti-email"> tanyapalapa@gmail.com</div> 
                    </div>
                    </div>
                    <div class="col-sm-4 g-margin-b-20--xs g-margin-b-0--md">
                            <div class="g-font-size-15--xs g-color--white-opacity">
                                    Korespondensi/Alamat :<br>
                                    Jl. Asem Kranji Blok K-8 Sekip, Bulaksumur, Sleman, Yogyakarta. 55281<br><br>
                                    Pusat Informasi :<br>                                        
                                    HELP DESK PPSMB : 0823-3836-2002 <br>(hari kerja pukul 08.00 - 16.00 WIB).<br>                                        
                                    HELP DESK Registrasi, UKT, dsb : +62-274-551222 (Hanya Whatsapp)                                        
                            </div>
                        </div>
                    <div class="col-sm-4 g-margin-b-20--xs g-margin-b-0--md">
                            <div class="g-font-size-15--xs g-color--white-opacity g-margin-b-20--xs">
                            Akun Resmi PPSMB:
                            </div>
                            <div class="row g-margin-b-20--xs ">
                                <div class="col-sm-4 g-margin-r-1--xs " style="margin-bottom: 10px;">
                                    <div class="ti-facebook g-color--white-opacity"></div>
                                </div>
                                <div class="col-sm-4 g-margin-r-1--xs" style="margin-bottom: 10px;">
                                    <div class="ti-youtube g-color--white-opacity"></div>
                                </div>
                                <div class="col-sm-4 g-margin-r-1--xs" style="margin-bottom: 10px;">
                                    <div class="ti-twitter g-color--white-opacity"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 g-margin-r-1--xs" style="margin-bottom: 10px;">
                                    <div class="ti-instagram g-color--white-opacity"></div>
                                </div>
                                <div class="col-sm-4 g-margin-r-1--xs" style="margin-bottom: 10px;">
                                    <div class="g-color--white-opacity"><img class="icon-footer" src="img/askfm.png"></div>
                                </div>
                                <div class="col-sm-4 g-margin-r-1--xs" style="margin-bottom: 10px;">
                                        <div class="g-color--white-opacity"><img class="icon-footer"  src="img/line.png"></div>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Links -->

        <!-- Copyright -->
        <div class="container g-padding-y-50--xs">
            <div class="row">
                <div class="col-xs-6">
                    <a href="index.html">
                        <img class="g-width-100--xs g-height-auto--xs" src="img/logo-navigasi.png" alt="Megakit Logo">
                    </a>
                </div>
                <div class="col-xs-6 g-text-right--xs">
                    <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light">&copy; Tim IT PPSMB PALAPA 2018 </p>
                </div>
            </div>
        </div>
        <!-- End Copyright -->

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5b2a7e43eba8cd3125e306f8/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->

    </footer>