<!-- nav -->
<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; top: 5">
   <nav class="uk-navbar-container" style="background: #073c64">
      <div class="uk-container">
         <div uk-navbar>
            <div class="uk-navbar-left" style="max-width: 20%;">
               <a class="uk-navbar-item uk-logo" href="/">
                  <img src="/public/img/logo-navbar.png">
               </a>
            </div>

            <div class="uk-navbar-right">
               <ul class="uk-navbar-nav" style="color: white;">
                  <li>
                     <a href="/">Home</a>
                  </li>
                  <li>
                     <a href="/pilih-hari.html">Materi</a>
                  </li>
                  <li>
                     <a href="/pilih-hari.html">Atribut</a>
                  </li>
                  <li>
                     <a href="/pilih-hari.html">Penugasan</a>
                  </li>
                  <li>
                     <a href="#">Contacs</a>
                  </li>
               </ul>

            </div>
         </div>
      </div>
   </nav>
</div>
<!-- end nav -->